.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #4287f5;
}

button {
  font-size: 6vh;
  width: 12vh;
  height: 12vh;
  margin: 2vh;
  background-color: #282c34;
  color: #4287f5;
  border-color: #4287f5;
}